* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(214, 214, 214);
}
/* Header */
header {
    width: 100%;
    height: 20vh;
    background: linear-gradient(rgb(25, 25, 218), rgb(41, 41, 192));
    color: #fff;
    text-align: center;
    font-size: 6vh;
    padding-top: 3%;
}
/* Input Section */
.container {
    width: 90%;   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    gap: 3vh;
}
input {
    width: 60%;
    height: 7vh;
    margin-left: 10%;
    cursor: pointer;
    padding-left: 2vh;
    border: 1px solid gray;
    border-radius: 4px;
}
button {
    height: 7vh;
    width: 12%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgb(27, 161, 27);
    color: #fff;
    font-size: 3vh;
    font-weight: 550;
}
button:hover {
    opacity: 0.7;
}
hr {
    width: 90%;
    margin: 3vh auto;
}
h3 {
    padding-left: 10%;
}
#list-container {
     background-color: #fff;
    width: 80%;
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
}
/* Individual Task */
.task-item {
    list-style: none;
    padding: 2vh 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.task-item:last-child {
    border-bottom: none;
}

.task-text {
    font-size: 2.8vh;
}
/* Icons */
.task-actions i {
    margin-left: 2vh;
    cursor: pointer;
    font-size: 2.8vh;
}

.task-actions .edit {
    color: #1a73e8;
}

.task-actions .delete {
    color: #e53935;
}

.task-actions i:hover {
    opacity: 0.7;
}   